{% extends './layout.html' %} 

{% block title %}{{ data.titulo }}{% endblock %}

{% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
{% endblock %} 
{% block content %}

<main>
  <div class="position-relative overflow-hidden  p-t-e-s-5 text-center banner">
    <div class="col-md-6 p-4 mx-auto">
      <h1>¿EL MEJOR ESPACIO PARA LA EDUCACIÓN?, SEGURO...</h1>
      <p class=" fw-normal">Porque puedes crear el ambiente perfecto para tus estudiantes, en donde pueden trabajar y divertirse al mismo tiempo</p>
      <a class="btn m-3" href="{{ url_for('docs') }}">Comienza Ya</a>
    </div>
    <img src="{{ url_for('static', filename='img/people.svg') }}">
  </div>
</main>

<div class="container">
  <div class="row">
    <div class="col-md-6 text-center d-flex align-items-center justify-content-center">
      <img id="cards-img" src="{{ url_for('static', filename='img/pantalla.svg') }}">
    </div>
    <div class="col-md-6 text-start my-auto" id="text-container">
      <h1 class="font-weight-bolder">Todo En Un Solo Lugar</h1>
      <p>Los servidores de Discord se organizan en canales ordenados por temas donde puedes colaborar, compartir o simplemente planificar las sesiones escolares con tus alumnos.</p>
    </div>
  </div>
  <div class="row flex-row-reverse">
    <div class="col-md-6 text-center d-flex align-items-center justify-content-center">
      <img id="cards-img" src="{{ url_for('static', filename='img/puño.svg') }}">
    </div>
    <div class="col-md-6 text-end my-auto" id="text-container">
      <h1 class="font-weight-bolder">Trabaja Con Tu Equipo</h1>
      <p>Realiza los trabajos en equipo mas fácil y dinámicos. Puedes saber quien esta conectado y quien no, ademas entra facilmente en las salas de chat de texto y de voz.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-center d-flex align-items-center justify-content-center">
      <img id="cards-img" src="{{ url_for('static', filename='img/todo.svg') }}">
    </div>
    <div class="col-md-6 text-start my-auto" id="text-container">
      <h1 class="font-weight-bolder">Sé El Jefe Del Grupo</h1>
      <p>Establece cualquier control sobre los grupos con las herramientas de moderación y el acceso personalizado de miembros. Concédeles poderes especiales, crea canales privados y mucho más.</p>
    </div>
  </div> 
</div>  
{% endblock %}
